/* 更改element-UI按钮样式 */
.el-button {
    color: #fff;
    background-color: #009688;
    border-color: #009688;
}

.el-button:hover {
    color: #fff;
    background-color: #0bb3a2;
    border-color: #0bb3a2;
}

.el-button:focus {
    color: #fff;
    background-color: #0bb3a2;
    border-color: #0bb3a2;
}


/* //滚动条的宽度 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* //滚动条的滑块 */
::-webkit-scrollbar-thumb {
    background-color: #a1a3a9;
    border-radius: 3px;
}
